@import 'tailwindcss';

@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

body {
  @apply m-0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.144 0.006 325.863516244847);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.144 0.006 325.863516244847);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.144 0.006 325.863516244847);
  --primary: oklch(0.645 0.279 328.230848901169);
  --primary-foreground: oklch(0.961 0.004 325.6104219126587);
  --secondary: oklch(0.928 0.012 325.67137463196707);
  --secondary-foreground: oklch(0.212 0.019 326.21942567416096);
  --muted: oklch(0.928 0.012 325.67137463196707);
  --muted-foreground: oklch(0.593 0.071 326.4288012648508);
  --accent: oklch(0.781 0.09 347.9704365287589);
  --accent-foreground: oklch(0.204 0.051 351.4087428986957);
  --destructive: oklch(0.58 0.237 28.43022926835138);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0.003 17.208294632017292);
  --input: oklch(0.922 0.003 17.208294632017292);
  --ring: oklch(0.645 0.279 328.230848901169);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --font-sans:
    ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
}

.dark {
  --background: oklch(0.188 0.031 326.7126508680544);
  --foreground: oklch(0.961 0.004 325.6104219126587);
  --card: oklch(0.231 0.043 326.8689128909607);
  --card-foreground: oklch(0.961 0.004 325.6104219126587);
  --popover: oklch(0.231 0.043 326.8689128909607);
  --popover-foreground: oklch(0.961 0.004 325.6104219126587);
  --primary: oklch(0.564 0.25 328.2813067400713);
  --primary-foreground: oklch(0.961 0.004 325.6104219126587);
  --secondary: oklch(0.362 0.041 326.3846424937639);
  --secondary-foreground: oklch(0.96 0.006 325.62719720275965);
  --muted: oklch(0.362 0.041 326.3846424937639);
  --muted-foreground: oklch(0.713 0.049 326.07502906939163);
  --accent: oklch(0.693 0.142 350.1488967335678);
  --accent-foreground: oklch(0.204 0.055 352.00590357541427);
  --destructive: oklch(0.529 0.195 27.156747692001183);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.292 0.061 326.99705565785956);
  --input: oklch(0.292 0.061 326.99705565785956);
  --ring: oklch(0.564 0.25 328.2813067400713);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.439 0 0);
  --radius: 0.625rem;
  --font-sans:
    ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-sans:
    ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --radius: 0.5rem;
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --chart-1: oklch(0.645 0.279 328.230848901169);
  --chart-2: oklch(0.714 0.181 327.26817846795905);
  --chart-3: oklch(0.795 0.097 326.44372266273746);
  --chart-4: oklch(0.521 0.233 328.3035507694638);
  --chart-5: oklch(0.406 0.176 328.24117164670065);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1 {
    @apply scroll-m-20 text-center text-4xl font-extrabold tracking-tight text-balance;
  }
}

@utility container {
  @apply max-w-4xl;
  margin-inline: auto;
  padding: 1rem;
}
